{% extends "base.html.twig" %}

{% block title %}Star wars Api (SWAPI) {% endblock %}

{% block body %}
    <div class="form-">
        <div class="form-group">
            <label for="distanceToStops">Enter the distance to calculate the stops needed</label>
            <input type="number" class="form-control" maxlength="10" id="distanceToStops" placeholder="e.g. 1000">
        </div>
    </div>
    <table class="table" id="dtSpaceship">
        <thead>
        <tr>
            <th scope="col">Spaceship Name</th>
            <th scope="col">Mega Lights</th>
            <th scope="col">Class</th>
            <th scope="col">Passengers</th>
            <th scope="col">Stops needed</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="/js/spaceship-stop-index.js"></script>
{% endblock %}